<h2>Card component HTML</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cupiditate dolores earum eligendi enim id
  labore laboriosam libero, nisi nostrum, nulla obcaecati quasi ratione repellendus sapiente vero? Ab accusamus aliquam
  aliquid aspernatur blanditiis consequatur cumque cupiditate dolor dolorum earum eius eligendi enim est ex excepturi
  fugit harum hic illum ipsam ipsum laudantium maxime nihil nulla odit optio possimus praesentium qui quibusdam sit
  tempora, totam ut voluptas voluptate! Animi debitis fugit in iste maxime! Aliquam architecto blanditiis dicta dolorum
  enim error esse ex fugiat harum iure mollitia necessitatibus nihil quae qui quia quidem quod recusandae repellat sit
  temporibus unde, voluptatem?
</p>
